:root {
  --primary-color: rgb(23, 15, 102);
  --secondary-color: rgb(211, 211, 211);
  --tertiary-color: rgb(207, 181, 59);
  --label-width: 120px;
  --input-width: 180px;
}

.App-header {
  background-color: var(--primary-color);
  height: 15vh;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 1vmin);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  width: 30vw;
  color: whitesmoke;
  white-space: nowrap;
}

.percentages:hover #percent-icon {
  color: var(--tertiary-color)
}

.percentages:hover .percentage-data {
  display: flex;
}

.percentage-data {
  display: none;
  position: absolute;
  text-align: center;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  height: 60vh;
  width: 250px;
  border: solid 2px black;
  border-radius: 2px;
  background-color: whitesmoke;
  z-index: 1
}

.help:hover #help-icon {
  color: var(--tertiary-color)
}

.help:hover .help-content {
  display: flex;
}

.help-content {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  height: 60vh;
  min-height: 350px;
  width: 250px;
  border: solid 2px black;
  border-radius: 2px;
  background-color: whitesmoke;
  color: black;
  z-index: 1;
  font-size: 0.8rem;
}

.help-content > h2 {
  font-size: 16px;
}

.help-content > p {
  padding: 3px;
  min-width: 240px;
  white-space: normal;
}

.help-content > footer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}

.help-content > footer > a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

main {
  align-items: center;
  background-color: var(--secondary-color);
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.boat-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  margin-top: 1rem;
}

.boat-type > p {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: whitesmoke;
  font-size: calc(8px + 1vh);
  height: 100%;
  width: var(--input-width);
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
  width: var(--label-width);
}

.dropbtn {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  font-size: calc(10px + 1vh);
  height: 100%;
  border: none;
  width: 100%;
  white-space: nowrap;
}

.dropdown > .mens-boats {
  display: none;
  position: absolute;
  left: 0%;
  background-color: whitesmoke;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-appearance: none;
  opacity: 1;
}

.dropdown > .womens-boats {
  display: none;
  position: absolute;
  left: 65%;
  background-color: whitesmoke;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
}

.dropdown-content > button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content > button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropbtn {
  background-color: rgba(24, 15, 102, 0.69);
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(10px + 1vh);
  border: none;
  width: var(--label-width);
}

.distance {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.distance > input {
  height: 100%;
  width: var(--input-width);
  display: flex;
  text-align: center;
  padding: 1rem;
  background-color: whitesmoke;
  border: none;
  font-size: calc(8px + 1vh);
}

.time {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.time > .input-wrapper {
  height: 100%;
  width: var(--input-width);
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 1rem;
  background-color: whitesmoke;
  border: none;
  font-size: calc(8px + 1vh);
}

.time > .input-wrapper > input {
  width: 45px;
  text-align: center;
}

.output-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--tertiary-color);
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(10px + 1vh);
  border: none;
  width: var(--label-width);
}

.speed {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.speed > .speed-display {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: whitesmoke;
  color: var(--primary-color);
  font-weight: bold;
  font-size: calc(8px + 1vh);
  height: 100%;
  width: var(--input-width);
}

.gms {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.gms > .gms-display {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: whitesmoke;
  color: var(--primary-color);
  font-weight: bold;
  font-size: calc(8px + 1vh);
  height: 100%;
  width: var(--input-width);
}