:root {
  --primary-color: rgb(218, 177, 173);
  --secondary-color: rgb(211, 211, 211);
  --tertiary-color: rgb(188, 139, 135);
  --label-width: 120px;
  --input-width: 180px;
}

.App-header {
  background-color: var(--primary-color);
  height: 20vh;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: whitesmoke
}

* {
  box-sizing: border-box;
}

main {
  align-items: center;
  background-color: var(--secondary-color);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: calc(var(--input-width) + var(--label-width))
}

.boat-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  margin-top: 2rem;
}

.boat-type > p {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: whitesmoke;
  font-size: calc(8px + 1vh);
  height: 100%;
  width: var(--input-width);
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
  width: var(--label-width);
}

.dropbtn {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  font-size: calc(10px + 1vh);
  height: 100%;
  border: none;
  width: 100%;
  white-space: nowrap;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 10%;
  background-color: whitesmoke;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content > button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropbtn {
  background-color: var(--tertiary-color);
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(10px + 1vh);
  border: none;
  width: var(--label-width);
}

.distance {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.distance > input {
  height: 100%;
  width: var(--input-width);
  display: flex;
  text-align: center;
  padding: 1rem;
  background-color: whitesmoke;
  border: none;
  font-size: calc(8px + 1vh);
}

.time {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.time > .input-wrapper {
  height: 100%;
  width: var(--input-width);
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 1rem;
  background-color: whitesmoke;
  border: none;
  font-size: calc(8px + 1vh);
}

.time > .input-wrapper > input {
  width: 45px;
  text-align: center;
}

.speed {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.speed > .speed-display {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: whitesmoke;
  font-size: calc(8px + 1vh);
  height: 100%;
  width: var(--input-width);
}

.gms {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.gms > .gms-display {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: whitesmoke;
  font-size: calc(8px + 1vh);
  height: 100%;
  width: var(--input-width);
}