:root {
  --primary-color: rgb(218, 177, 173);
  --secondary-color: rgb(211, 211, 211);
  --tertiary-color: rgb(188, 139, 135);
}

.App-header {
  background-color: var(--primary-color);
  height: 20vh;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

* {
  box-sizing: border-box;
}

main {
  align-items: center;
  background-color: var(--secondary-color);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.boat-type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  min-height: 10vh;
}

.boat-type > p {
  display: flex;
  text-align: center;
  padding: 1rem;
  background-color: whitesmoke;
  min-width: 55px;
  height: 100%;
  font-size: calc(8px + 1vh);
}

.dropbtn {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;;
  font-size: calc(10px + 1vh);
  min-height: 100%;
  border: none;
  margin: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content > button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropbtn {
  background-color: var(--tertiary-color);
}

.distance {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
}

.distance > .distance-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  align-self: center;
  color: white;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(10px + 1vh);
  border: none;
}

.distance > input {
  height: 100%;
  width: 10vw;
  display: flex;
  text-align: center;
  padding: 1rem;
  background-color: whitesmoke;
  border: none;
  font-size: calc(8px + 1vh);
}